@font-face 
{
    font-family: 'ralewayregular';
    src: url('fonts/raleway-regular.woff2') format('woff2'),
         url('fonts/raleway-regular.woff') format('woff'),
         url('fonts/Raleway-Regular.ttf') format('.ttf');    
        
    font-weight: normal;
    font-style: normal;
}
ul
{
    list-style-type: none;
    
    
}    

nav a
{
    color: #0065FC;


}
#filtre
{
    display: flex;
}
#conteneur
{
    width: 880px;
    left: 50px;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #F2F2F2;
}    
.element
{
    width: 245px;
}
.pop
{
    width: 345px;
    
}
.activites
{
    
    background-color: #F2F2F2;
    border-radius: 5px;
    width: 300px;
}
aside
{
    
    width: 415px;
    background-color: #F2F2F2;
    border-radius: 5px;
    display: block;
}

#footer
{
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-around;
}