body {

    font-family: 'Raleway', sans-serif;
    background-color: white;
    margin: auto;
    width: auto;    
}

span {

    font-weight: bold ;
}

a {

    color: initial;
}

#bloc {

    margin: 25px;    
}

/* logo et menu*/

header {

    display: flex;
    width: 100%;
}
nav {

    display: flex;
    justify-content: flex-end;
    width: 100%;
}    

    

#logo {

    width: auto;
    margin: 30px 0px 20px 0px;
}

/*menu de navigation*/

#menu {

    display: flex;   
    align-items: center;
}

#menu ul {

    display: flex;
    justify-content: flex-end;
}   

#menu li {

    margin: 20px;
}    

.menu1 {
    color: #0065FC;
}

.menu3 {
    color: #0065FC;
    margin-left: 10px;
   
        
}


/* le conteneur de recherche et filtre */

.filter {

    display: flex;
    flex-direction: column;
}

.filter img {

    height: 18px;
    width: 16px;
}

.filter h1 {

    margin-bottom: -12px;
    font-size: 20px;
}

.filter p {

    font-size: 15px;
}


/* la barre de recherche*/ 

input[type=search] {

    height: 36px;
    width: 230px;
    border: 1px solid #F2F2F2;
    margin-right: -5px;
    padding-top: 2px;
}

input[type=submit] {

    width: 130px;
    height: 36px;
    border: 1px solid #0065FC;
    background-color: #0065FC;
    margin-right: 10px;
    padding-top: 2px;
    color: white;
    border-radius: 0px 10px 10px 0px;
    cursor: pointer;
}

form img {

    height: 20px;
    width: 18px;
    border: 1px solid #F2F2F2;
    background-color: #F2F2F2;
    border-radius: 10px 0px 0px 10px;    
    border-width: 9px;
    margin-right: -4px;
    margin-bottom: -13px;
}

form {

    margin-top: 10px;
}

li {

    list-style-type: none;       
}

a {

    text-decoration: none;
}

/*effet de survol du bouton rechercher*/

input[type=submit]:hover {

    background-color:#DEEBFF;    
    color: #0065FC;
}



/* les filtres */

#filtre {

    display: flex;
    align-items: center;
    margin-right: 40px;  
    margin-top: 20px;  
}

#filtre h3 {

    margin-right: 20px;
    
}



.filtreicon {

    
    padding: 10px 20px 10px 40px;
    border: 1px solid #F2F2F2;
    border-radius: 20px;
    font-weight: bold;
}

#filtre img {

    border: 10px solid #F2F2F2;
    background-color: #F2F2F2;
    border-radius: 20px;
    margin-bottom: -14px;
    margin-right: -46px;
}

#filtre a {

    margin-left: 10px;
    margin-right: 10px;
}

/*effet de survol des filtres*/

#filtre a:hover {
        
    color: #0065FC;
    background-color: #DEEBFF;
}

.filtreicon:hover {

    background-color: #DEEBFF;    
}



/* barre info*/

#info p {

    margin-left: 40px;
    margin-bottom: 30px;
}

#info img {

    
    background-color: white;
    border-radius: 50%;
    border: 1px solid #F2F2F2;
    padding: 10px;
    margin-bottom: -45px;
    width: 10px;
    height: 10px;
}



/* hebergement et populaire*/

.blochebergpop {

    display: flex;      
    width: 100%;
    column-gap: 30px;
}



#blochebergement {

    display: flex;
    flex-direction: column;         
    flex: 2;
    background-color: #F2F2F2;    
    border-radius: 10px;
    width: auto;    
    
}

#blochebergement_text {

    margin-left: 30px;    
    
   
}


#group_heberg {

    width: auto;
   
    display: flex;    
    flex-wrap: wrap;
    justify-content: space-around;
    
           
}
/* les vignettes d'hebergement*/

.vignette_marseille {

    background-color: white;   
    width: auto;    
    margin: 15px 15px 15px 15px;
    border-radius: 10px;
    border: 5px solid transparent;
    box-shadow: 0px 0px 6px 0px #0000002e;
    list-style: none;

}

.vignette_marseille_img {

    width: 245px;
    height: 100px;
    background-size: 100% 100%;
    
    
}

.vignette_marseille_img_import {

    width: 100%;
    height: 100px;
    background-size: 100% 100%;
    border-radius: 10px 10px 0 0;
    
    object-fit: cover;

}

.vignette_text {

    margin: 5px;
}

.nom_hotel {

    font-size: 1em;
    font-weight: bold;
    margin-top: 2px;
    margin-bottom: 2px;
}

.prix_hotel {

    font-size: 0.9em;
    margin-top: 2px;
    margin-bottom: 2px;
}

.etoile {

    display: flex;
    flex-direction: row;    
    height: 18px;
    width: 16px;
    
    
}

.affich_plus {

   margin-left: 30px;
   margin-top: 50px;
}

/* bloc populaire*/

.blocpopulaire {
       
    background-color: #F2F2F2;    
    border-radius: 10px;
    
    flex: 1;    
}

.blocpopulaire h3 {

    margin-left:50px;
    margin-top: 30px;
    margin-bottom: 10px;
    
    
}


.icon_chart {

    display: flex;
    justify-content: flex-end;    
    margin-right: 45px;
    margin-top: -18.720px;
}


/* les vignettes de populaire*/

#populaires {

    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center; 
    background-color: #F2F2F2;      
    border-radius: 10px;
    
    
}

#populaires a {

    display: flex;
}

.vignette_pop {   

    display: flex;
    height: 130px;
    width: 345px;
    justify-content: flex-start;
    align-items: center;        
    background-color: white;   
    border-radius: 10px;
    border: 5px solid transparent;
    box-shadow: 0px 0px 6px 0px #0000002e;
    margin: 10px;    
}

.vignette_pop_img{   
    
    display: flex;
    align-items: center;      
    width: 136px;
    height: 128px;    
    background-size: cover;     
}

.vignette_pop_img_import {

    width: 134px;
    height: 100%;    
    border-radius: 10px 0px 0px 10px;
    object-fit: cover;
}   

.vignette_pop_text {

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 10px;
    margin-right: 30px;
}

.vignette_pop_text h4 {

    margin-top: 5px;
    margin-bottom: 1px
}

.vignette_pop_text p {

    font-size: 0.9em;
    margin-top: 2px;    
}

.etoile1 {

    display: flex;
    flex-direction: row;    
    height: 18px;
    width: 16px;
    margin-top: 20px;    
}


/*activite*/

.parentactivite {

    display: flex;    
    flex-direction: column;
    
}

.parentactivite h3 {

    margin-top: 40px;    
    margin-bottom: -40px;
    
}

/* les vignettes d'activites*/

#activite {

    display: flex;
    flex-direction: column;   
    align-content: space-between;
    flex-wrap: wrap;
    height: 450px;   
    margin-top: 50px;    
}



.vignette_activite  {
    
    height: 100%;
    width: 300px;       
    border-radius: 10px 10px 0 0;     
}

.vignette_activite img {

    height: 90%;
    width: 300px;    
    border-radius: 10px 10px 0px 0px; 
    object-fit: cover;
}

.vignette_activite h4 {
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;        
    border-radius: 0 0 10px 10px;    
    box-shadow: 0 0 2px 0 #0000002e;
    margin-top: -10px;
    padding-bottom: 10px;
    padding-top: 15px;
    padding-left: 10px;    
}

.vignette_activite:nth-child(1) {

    height: 90%;
}

.vignette_activite:nth-child(2) {

    height: 40%;
}

.vignette_activite:nth-child(3) {

    height: 30%;
    margin-top: 65px;
}

.vignette_activite:nth-child(4) {

    height: 90%;
}

.vignette_activite:nth-child(5) {

    height: 35%;
}

.vignette_activite:nth-child(6) {

    height: 35%;
    margin-top: 65px;
}

/* le pied de page*/

footer {

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: #F2F2F2;
}

#footer {

    display: flex;
    flex-direction: row;
}

#footer h4 {

    margin-left: 20px;    
    margin-bottom: -5px;
}

#footer ul {

    margin-left: -20px;
}

#propos, #heberg, #assistance {

    margin-right: 300px;
}

/* responsive design*/

/*responsive mobile*/

@media all and  (min-width: 320px) and (max-width: 600px)

{
    body {

        width: auto;        
    }

    #bloc {

        margin: 0;
    }   

    /*responsive mobile - header*/

    header {

        display: flex;
        flex-wrap: wrap;        
    }    

    #logo {

        margin: 10px 30px 0 20px;               
    }      
    
    nav {

        width: 100%;        
    }

    #menu {

        display: flex;
        width: 100%;
        justify-content: space-around;       
    }

    #menu ul {
        width: 100%;
        display: flex;
        justify-content: space-around;        
        padding: 0;
        margin: 0;
    }

    #menu li {

        width: 50%;
        margin: 10px 0 10px 0;
    }  
    
    .menu1 {

        margin-bottom: 10px;
    }

    li:nth-child(1) {

        text-align: center;        
        border-bottom: 3px solid #0065FC;
        padding-bottom: 10px;
        
    }

    li:nth-child(2) {

        text-align: center;        
        border-bottom: 3px solid #F2F2F2;
        padding-bottom: 10px;
    }   
    
    .menu3 {

        position: absolute;
        top: 5px;
        right: 2px;
        margin: 20px;        
    }   
    
    /* responsive mobile - le conteneur recherche et filtre*/

    .filter {

        display: block;
        margin: 20px;
    }
    
    /*responsive mobile - barre de recherche*/

    #search {
        
        width: 36px;
        height: 36px;
        font-size: 0;
        border: 1px solid #0065FC;   
        border-radius: 10px;          
        background-color: #0065FC;
        background-image: url(icon/search-solid.svg);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: 20px;
        padding-top: 11px;
        margin-left: -5px;        
    }

        
    

    /*responsive mobile - les filtres*/

    #filtre {

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
    }   

    #filtre h3 {

        width: 100%;
        margin: 0 0 0 0;
    }

    #money {

        margin: 15px 15px 15px 0;
    }

    #child {

        margin: 15px 15px 15px 0;
    }

    #heart {

        width: 100%;
        margin: 15px 15px 15px 0;
    }

    #dog {

        margin: 15px 15px 15px 0;
    }

    /*responsive mobile populaire et hebergement */

    .blochebergpop
    {
        flex-direction: column-reverse;        
        margin: 1px;        
    }

    /*responsive mobile - bloc populaire */

    .blocpopulaire {

        width: 100%;
        height: auto;
        border-radius: 0;
    }

    .blocpopulaire h3 {

        margin-left: 40px;        
    }

    .icon_chart {

        margin-right: 40px;
    }

    #populaires {

        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 0;
    }

    /*responsive mobile - bloc hebergement*/

    #blochebergement {

        display: flex;
        flex-direction: column;
        background-color: white;
    }

    #blochebergement_text {

        margin: 0 0 0 55px;
    }

    /*responsive mobile - vignette marseille*/

    .vignette_marseille {

        width: 345px;
    }

    .vignette_marseille_img {

        width: 346px;        
    }

    .affich_plus {

        margin: 10px 0 0 55px;
    }

    /*responsive mobile - activite*/

    .parentactivite {

        width: 100%;
    }

    .parentactivite h3 {

        margin: 30px 0 -30px 40px;
    }

    #activite {

        display: flex;
        flex-direction: column;
        align-content: center;
        height: auto;
    }

    .vignette_activite {

        width: 345px;
        height: 190px;
    }

    .vignette_activite img {

        width: 345px;
        height: 135px;        
    }

    .vignette_activite:nth-child(3) {

        margin-top: auto;
    }

    .vignette_activite:nth-child(6) {

        margin-top: auto;
    }    

    #footer {

        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #propos, #heberg, #assistance {

        margin-right: 0px;
    }


}

/*responsive tablette*/

@media all and (min-width:601px) and (max-width: 1080px)

{
    body {

        width: auto;
        height: auto;             
    }

    #bloc {

        margin: 10px;        
    }

    #filtre {

        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;        
    }

    #money {

        width: 40%;
        margin: 15px 15px 15px 0;
    }

    #child {

        width: 40%;
        margin: 15px 15px 15px 0;
    }

    #heart {

        
        width: 40%;
        margin: 15px 15px 15px 0;
    }

    #dog {

        width: 40%;
        margin: 15px 15px 15px 0;
    }

/*responsive tablette - filtres*/
    

    .blochebergpop
    {
        flex-direction: column-reverse;        
        margin: 1px;        
    }

/*responsive tablette - populaire et hebergement*/

    #blochebergement {

        margin: 10px 0 10px 0;
    }

/*responsive tablette - populaire*/

    .blocpopulaire {

        margin: 10px 0 10px 0; 
    }

    #populaires {

        margin: 0 0 20px 0;
    }

    .vignette_pop {

        width: 500px;
    }
/*responsive tablette - activite*/

    .parentactivite  {

        display: flex;
        width: auto;
    }

    .parentactivite h3 {       
        
        padding:0 0 20px 35px ;
    }

    #activite {

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 20px;
        height: 100%;                
    }

    .vignette_activite {

        width: auto;
        height: 100%;
    }
    .vignette_activite img {

        width: 300px;
        height: 200px;
    }    
    
    .vignette_activite:nth-child(1) {

        height: 35%;
        margin: 10px;
    }
    
    .vignette_activite:nth-child(2) {
    
        height: 35%;
        margin: 10px;
    }
    
    .vignette_activite:nth-child(3) {
    
        height: 35%;
        margin: 10px;
    }
    
    .vignette_activite:nth-child(4) {
    
        height: 35%;
        margin: 10px;
    }
    
    .vignette_activite:nth-child(5) {
    
        height: 35%;
        margin: 10px ;
    }
    
    .vignette_activite:nth-child(6) {
    
        height: 35%;
        margin: 10px ;
    }
/*responsive tablette - footer*/

    #footer {

        width: 100%;
        
    }

    #propos, #heberg, #assistance  {
        

        width: 30%;
        margin:0 15px 0 15px;
               
    }



}    