body
{
    background-color: white;
    margin-left: 50px;
    margin-top: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
}

header article section footer aside
{
    display: flex;
}

#filtre
{
    display: flex;
    flex-direction: row;

}



#hebergement
{
    background-color: #F2F2F2;
    display: flex;
    flex-flow: row wrap;
    align-items: space-around;
    justify-content: center;
    width: 700px;


}






#populaires
{
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    width: 300px;

}

#pop
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    
}

#activite